---
import "../styles/global.css";
import { Image } from "astro:assets";
import rinIwai from "../assets/rin_iwai.png";
---

<html lang="en">
	<head>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width" />
		<title>Rin Iwai</title>
	</head>
	<body class="prose">
		<h1>Rin Iwai</h1>
		<Image src={rinIwai} alt="Rin Iwai" />
	</body>
</html>
