<div
  class="chromatic-border not-prose grid max-w-80 grid-cols-[auto_1fr]"
  data-nowplaying
>
  <div class="h-24 w-24" data-nowplaying-artwork></div>
  <div class="grid h-24 grid-rows-3 items-center p-2">
    <div
      class="overflow-hidden font-bold text-ellipsis whitespace-nowrap"
      data-nowplaying-name
    >
    </div>
    <div class="overflow-hidden text-sm text-ellipsis whitespace-nowrap">
      💿 <span data-nowplaying-album></span>
    </div>
    <div class="overflow-hidden text-sm text-ellipsis whitespace-nowrap">
      👤 <span data-nowplaying-artists></span>
    </div>
  </div>
</div>

<script>
  import { computed, effect, signal } from "alien-signals";

  interface SpotifyNowPlaying {
    album: {
      name?: string;
      url?: string;
    };
    artists: {
      name?: string;
      url?: string;
    }[];
    duration_ms?: number;
    images: {
      url: string;
      height: number | null;
      width: number | null;
    }[];
    is_playing?: boolean;
    name?: string;
    progress_ms?: number | null;
    url?: string;
  }

  const nowPlaying = signal<SpotifyNowPlaying | null>(null);

  const artworkChildren = computed(() => {
    const images = nowPlaying()?.images;
    if (!nowPlaying()?.is_playing || !images || images.length === 0) {
      return [];
    }
    const url = [...images].sort(
      (a, b) =>
        Math.max(b.width ?? 0, b.height ?? 0) -
        Math.max(a.width ?? 0, a.height ?? 0),
    )[0].url;
    const image = document.createElement("img");
    image.className = "h-full w-full object-cover";
    image.src = url;
    image.alt = "artwork";
    return [image];
  });

  const nameChildren = computed(() => {
    if (!nowPlaying()?.is_playing) {
      return [document.createTextNode("No track playing")];
    }
    const link = document.createElement("a");
    link.className = "hover:underline";
    link.href = nowPlaying()?.url ?? "";
    link.target = "_blank";
    link.rel = "noopener noreferrer";
    link.textContent = nowPlaying()?.name ?? null;
    return [link];
  });

  const albumChildren = computed(() => {
    if (!nowPlaying()?.is_playing) {
      return [];
    }
    const link = document.createElement("a");
    link.className = "hover:underline";
    link.href = nowPlaying()?.album.url ?? "";
    link.target = "_blank";
    link.rel = "noopener noreferrer";
    link.textContent = nowPlaying()?.album.name ?? null;
    return [link];
  });

  const artistsChildren = computed(() => {
    const artists = nowPlaying()?.artists;
    if (!nowPlaying()?.is_playing || !artists || artists.length === 0) {
      return [];
    }
    return artists.reduce((nodes, artist) => {
      const link = document.createElement("a");
      link.className = "hover:underline";
      link.href = artist.url ?? "";
      link.target = "_blank";
      link.rel = "noopener noreferrer";
      link.textContent = artist.name ?? null;
      return [
        ...nodes,
        ...(nodes.length > 0 ? [document.createTextNode(", ")] : []),
        link,
      ];
    }, [] as Node[]);
  });

  const container = document.querySelector("[data-nowplaying]")!;
  const artwork = container.querySelector("[data-nowplaying-artwork]")!;
  const name = container.querySelector("[data-nowplaying-name]")!;
  const album = container.querySelector("[data-nowplaying-album]")!;
  const artists = container.querySelector("[data-nowplaying-artists]")!;

  effect(() => {
    artwork.replaceChildren(...artworkChildren());
    name.replaceChildren(...nameChildren());
    album.replaceChildren(...albumChildren());
    artists.replaceChildren(...artistsChildren());
  });

  const fetchNowPlaying = () =>
    fetch("https://nowplaying.iwair.in")
      .then((res) => res.json() as Promise<SpotifyNowPlaying>)
      .then((res) => {
        nowPlaying(res);
      })
      .catch(() => {
        nowPlaying(null);
      })
      .finally(() => {
        window.setTimeout(fetchNowPlaying, 30000);
      });

  fetchNowPlaying();
</script>
